body {
    background-color: white;
}

#main .art1 .pic {
    width: 500px;
}

#main{
    display: flex;
    flex-direction: row;
}

.art2 {
    background-color: lightgray;
}

.art3 {
    flex-wrap: wrap;
    background-color: lightgray;

}
