
body {
    font-family: Helvetica, sans-serif;
    color: #fffff;
    margin: 10px;
    font-size: 20px;
    line-height: 1.4em;
}



#main .art1 .pic {
    width: 1000px;
    height: 400px;
    border-radius: 15px;
    object-fit: fill;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 -5;
}

.art1 {
    align-items: flex-start;
    border-radius: 15px;
}

.art2 {
    background-color: #ebf0f3;
    flex-wrap: wrap;
    border-radius: 15px;
}

.art3 {
    background-color: #ebf0f3;
    flex-wrap: wrap;
    border-radius: 15px;
}

h1 {
text-align: justify;
}